body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background-image: linear-gradient(indigo, DarkViolet);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
p{
    font-size: 25px;
    text-align: justify;
}

.first-section{
    display: flex;
}
.welcome{
    width: 50%;
    padding-left: 20px;  
}
.welcome img{
    width: 100%;
}
.welcome2{
    width: 50%;
    padding-left: 20px;
    margin-right: 10px;  
}
.welcome2 img{
    width: 100%;
    margin-top: 20px;
}

.link{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(indigo, DarkViolet);
    padding: 10px 30px;
}

.link2{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(indigo, DarkViolet);
    padding: 10px 10px;
    display: inline-block;
}
.
