body{
    font-family: 'Ubuntu', sans-seri;
    margin: 0;
    background-image: linear-gradient(indigo, DarkViolet);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}
h1{
    font-size: 40px;
}
.header{
    margin-left: 20px;
}
h2{
    font-size: 30px;
}
p{
    font-size: 25px;
}

.flexible-section{
    display: flex;
}
.welcome{
    width: 50%;
    padding-left: 20px;  
}
.welcome img{
    width: 100%;
    margin-top: 7px;
}
.dream-big{
    background-image: url(photos/exp-bg.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}
.welcome2{
    width: 50%;
    padding-left: 20px;
    margin-right: 20px;
}
.welcome2 img{
    width: 100%;
    margin-top: 20px;
    margin-right: 60px;
}

.link{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(indigo, DarkViolet);
    padding: 10px 30px;   
}

.link2{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(indigo, DarkViolet);
    padding: 10px 30px;
    display: inline-block;
}
.experience-element{
    background-image: url(photos/dream-bg.png);
    background-repeat: no-repeat;
    background-position: top right;
}
.experience{
    box-shadow: 10px 10px 40px black;
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 35px;
    padding-right: 15px;
}
footer{
    text-align: center;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    *{
        box-sizing: border-box;
    }
    h1{
        font-size: 25px; 
    }
    h2{
        font-size: 20px;
    } 
    p{
        font-size: 15px;
    }
    .link{
        padding: 7px 15px;
    }
    .link2{
        padding: 7px 7px;
    }

 }




