body{
    margin: 0;
    background-color: rgb(173, 114, 228);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
p{
    font-size: 25px;
}

.first-section{
    display: flex;
}
.welcome{
    width: 50%;
    padding-left: 20px;  
}
.welcome img{
    width: 100%;
}
